@use 'sass:color';
@use 'variable' as v;
@use 'component' as c;
.hidden {
  display: none;
  transition: all 0.5s ease-in-out;
}

.logo {
  color: color.adjust(v.$light-color, $lightness: -20%);
}
#main--header {
  position: relative;
  padding: 2rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url('https://image.tmdb.org/t/p/original//1p9FUL7MKKOW0ZhsXkbpD3DVTy1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  .navbar {
    @extend %flex !optional;
    padding-left: 2rem;
    justify-content: space-between !important;
    .nav {
      @extend %flex !optional;
      gap: 1rem;
      h1 {
        font-size: 1.3rem;
        font-family: v.$primary-font;
        margin-right: 3.5rem;
      }
      ul {
        @extend %flex !optional;
        gap: 1rem;
        list-style: none;
      }
    }
    .icons {
      @extend %flex !optional;
      gap: 1rem;
      z-index: 100;
    }
  }

  .search-overlay {
    @extend %overlay !optional;
    transform: translateY(-250%);
    z-index: 9999 !important;
    pointer-events: none;
    transition: transform 0.4s ease-in-out;
    height: 100vh;
    .input-search {
      background: v.$dark-color;
      padding: 3rem;
      margin: 6rem 5rem;
      border-radius: 10px;
      pointer-events: fill;
      .search-input {
        @extend %input !optional;
        margin-bottom: 1rem;
      }
      .search-suggestion {
        margin: 2% 2% 0 0;
        li {
          padding: 0.5rem;
          pointer-events: fill;
          cursor: pointer;
          &:hover {
            background: color.adjust(v.$dark-color, $lightness: 20%);
            transition: background 0.5s ease-in-out;
          }
        }
      }
    }
    .msg {
      @extend %flex !optional;
      font-family: v.$primary-font;
    }
    .spinner {
      @extend %flex !optional;
      margin-top: 1rem !important;
      font-size: 1.7rem;
    }
  }
}

.header--section {
  padding-top: 10%;
  padding-left: 2rem;
  width: 70%;
  display: grid;
  .section-content {
    h2 {
      font-family: v.$secondary-font;
      padding-bottom: 1.2rem;
      font-size: 2.4rem;
    }
    p {
      font-family: v.$primary-font;
      padding-bottom: 1rem;
      font-weight: bold;
      text-wrap-mode: wrap;
    }
    .section-btn {
      @extend %flex !optional;
      padding-top: 1rem;
      justify-content: flex-start !important;
      gap: 1rem;

      .btn {
        @extend %btn;
      }

      .btn--watch {
        display: none;
        &.show {
          display: block;
        }
        a {
          font-size: 0.8rem;
          color: v.$dark-color;
        }
        &:hover {
          background-color: color.adjust(v.$light-color, $lightness: -30%);
          transition: background 0.5s ease-in-out;
        }
      }

      .btn-details {
        background: transparent;
        border: 1px solid v.$light-color;
        color: v.$light-color;
        &:hover {
          background: color.adjust(v.$light-color, $lightness: 30%);
          color: v.$dark-color;
        }
      }
    }
  }
}

.bookmark-overlay {
  @extend %overlay !optional;
  transform: translateX(1800px);
  transition: transform 0.5s ease-in-out;
  z-index: 33;
  .bookmarks-fetaures {
    position: fixed;
    top: 10%;
    right: 0;
    background: color.adjust(v.$dark-color, $lightness: 5%);
    width: 400px;
    height: 400px;
    overflow: scroll;
    padding: 1rem;
    font-family: v.$secondary-font;
    &::-webkit-scrollbar {
      display: none;
    }

    .preview-bookmarks {
      @extend %preview !optional;
      margin-bottom: 0.5rem;
    }
    .bookmarks-img {
      @extend %flex !optional;
      gap: 1.3rem;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    .message {
      @extend %flex;
      margin-top: 2rem;
    }
  }
}

.side-navbar {
  @extend %flex !optional;
  justify-content: space-between;
  .side-nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.891);
    width: 350px;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 2rem;
    transform: translateX(1100px);
    transition: transform 0.5s ease-in-out;
  }
  .nav-list {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    a {
      font-size: 1.3rem;
      color: v.$light-color;
    }
  }
  .side-bookmarks {
    font-family: v.$secondary-font;
  }

  .preview-bookmarks {
    @extend %preview !optional;
    margin-top: 1rem;
  }
  .bookmarks-img {
    @extend %flex !optional;
    gap: 1.3rem;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  overflow: hidden;
}

#Trending {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  h3 {
    margin-left: 5%;
    margin-bottom: 1rem;
  }
  img {
    width: 9rem;
    border-radius: 0.5rem;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease-in-out;
    }
  }
  .swiper {
    position: relative;
    padding: 1rem;
    margin: auto;
    max-width: 80%;
    overflow: hidden;
  }
  .swiper-wrapper {
    display: flex;
    gap: 1%;
  }
}

.modal {
  @extend %overlay !optional;
  z-index: 99 !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease;
  pointer-events: none;
  &.show {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &--card {
    @extend %flex !optional;
    position: relative;
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 605px;

    h4 {
      @extend %flex !optional;
      text-align: center;
      font-size: 2rem;
      font-family: 'Bitcount Grid Single', sans-serif;
      padding: 1rem;
      border-radius: 5px;
    }
  }

  &--catagories {
    @extend %flex !optional;
    text-align: start !important;
    gap: 1rem;
    span {
      background: rgba(255, 255, 255, 0.3);
      padding: 0 1rem;
      margin-bottom: 1rem;
      border-radius: 2px;
    }
  }

  &--overview {
    margin: 0 auto;
    max-width: 560px;
    margin: 0 1rem;
    height: 60px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    p {
      margin: 0 1.4rem;
    }
  }

  &--detail {
    width: 600px;
    height: 100%;
    background-color: color.adjust(v.$dark-color, $lightness: 2%);
    .movie--bg {
      object-fit: contain;
      height: 366px;
      filter: brightness(0.5);
    }

    .fa-xmark {
      position: absolute;
      z-index: 99 !important;
      right: 3%;
      top: 3%;
      background: transparent;
      @extend %flex !optional;
      padding: 1rem 1.5rem;
      &:hover {
        @extend %flex !optional;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        transition: all 1s ease-in-out;
      }
    }

    img {
      height: 100%;
    }
  }

  &--icon {
    @extend %btn !optional;
    border-radius: 5px;
    margin-top: 1rem;
    &:hover {
      background: color.adjust(v.$light-color, $lightness: -20%);
      transition: all 0.5s ease-in-out;
    }
  }

  &-btn-section {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  &--btn-trailer {
    @extend %btn !optional;
    margin: 1rem;
    a {
      color: v.$dark-color !important;
      font-size: 1rem;
    }
    &:hover {
      background: color.adjust(v.$light-color, $lightness: -20%);
      transition: all 0.5s ease-in-out;
    }
  }
}

.search-view {
  position: relative;
  background: color.adjust(v.$dark-color, $lightness: -30%);
  overflow: scroll;
  transition: all 0.6s ease-in;
  &::-webkit-scrollbar {
    display: none;
  }
  .spinner {
    margin-top: 1rem !important;
    font-size: 2rem;
  }
  &--view {
    h1 {
      padding-top: 2rem;
      margin-left: 2rem;
      font-size: 1.4rem;
    }
  }
  &-card {
    position: relative;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    align-items: center;
    width: 230px;
    transition: transform 0.5s ease-in-out;
    perspective: 1000px;
  }
  .display {
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 1rem;
    transition: all 0.4s ease;
    transform: translateY(10px);
    background: color.adjust(v.$dark-color, $lightness: -30%);
    border-radius: 0 0 10px 10px;
    z-index: 5;
  }

  &-card:hover {
    transform: scale(1.05) translateY(-10px);
    z-index: 10;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);

    img {
      transform: scale(1.1);
    }

    .display {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  .cate {
    margin-top: 1rem;
    span {
      padding: 0.2rem 0.6rem;
      font-size: 0.8rem;
    }
  }
  h4 {
    @extend %flex !optional;
  }
  &-card-img {
    img {
      width: 200px;
      height: 250px;
      object-fit: cover;
      display: block;
      transition: transform 0.3 ease;
    }
  }
  .overview {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    height: 60px;
    font-size: 0.8rem;
    overflow: scroll;
    z-index: 99;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .modal--icon {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  &-grid {
    margin: 3rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.search-error-message {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: v.$secondary-font;
  margin: 2rem 0;
}

.bookmarks-List {
  .message {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: v.$secondary-font;
    margin: 2rem 0;
  }
}
.error-message {
  &-overlay {
    @extend %overlay !optional;
    z-index: 1;
  }
  &-modal {
    position: relative;
    margin: 10rem 2rem 2rem;
    padding: 1rem 2rem;
    text-align: center;
    background: v.$light-color;
    color: red;
  }
  .fa-ban {
    color: red;
  }
  .error-cancel {
    position: absolute;
    right: 50%;
    top: 10%;
  }
}
