@use 'sass:color';
@use 'variable' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$font-satck;
  line-height: 1.4;
  color: v.$light-color;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
%btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50px;
}
%input {
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: v.$light-color;
  font-size: 1.3rem;

  &:hover {
    color: color.adjust(v.$dark-color, $lightness: -30%);
    transition: color 0.5s ease-in-out;
  }
}
i {
  cursor: pointer;
}
%preview {
  @extend %flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  gap: 2rem;
  &:hover {
    background: color.adjust(v.$dark-color, $lightness: 10%);
    border-radius: 4px;
  }
}
%overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.377);
}
.active {
  transform: translateX(0) !important;
  transition: transform 0.5s ease-in-out !important;
}
.current {
  color: color.adjust(v.$light-color, $lightness: -30%);
}
.toggle {
  opacity: 0;
  pointer-events: none;
}
