@import "variable";
@import "component";
@import "media";

.hidden {
  display: none;
}

#main--header {
  position: relative;
  padding: 2rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("/src/img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  .navbar {
    @extend %flex;
    padding-left: 2rem;
    justify-content: space-between !important;
    .nav {
      @extend %flex;
      z-index: 999;
      gap: 1rem;
      h1 {
        font-size: 1.3rem;
        font-family: $primary-font;
        margin-right: 3.5rem;
      }
      ul {
        @extend %flex;
        gap: 1rem;
        list-style: none;
      }
    }
    .icons {
      @extend %flex;
      z-index: 999;
      gap: 1rem;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.377);
    .input-search {
      background: $dark-color;
      padding: 3rem;
      margin: 6rem 5rem;
      border-radius: 10px;
      .search-input {
        @extend %input;
      }
    }
  }
  .tab-component {
    @extend %flex;
    cursor: pointer;
    padding-top: 189px;
    gap: 1.3rem;
    h3:hover {
      color: darken($light-color, $amount);
    }
  }
  .header--section {
    padding-top: 200px;
    padding-left: 2rem;
    width: 50%;
    display: grid;
    .section-content {
      z-index: 9999;
      h2 {
        font-family: $secondary-font;
        padding-bottom: 1.2rem;
        font-size: 2.4rem;
      }
      p {
        font-family: $primary-font;
        padding-bottom: 1rem;
        font-weight: bold;
        text-wrap-mode: wrap;
      }
      .section-btn {
        @extend %flex;
        padding-top: 1rem;
        justify-content: flex-start !important;
        gap: 1rem;
        .btn {
          @extend %btn;
        }

        .btn--watch:hover {
          background: darken($light-color, $amount);
          transition: background 0.5s ease-in-out;
        }

        .btn-details {
          background: transparent;
          border: 1px solid $light-color;
          color: $light-color;
          &:hover {
            background: darken($light-color, $amount);
            color: $dark-color;
          }
        }
      }
    }
  }
}

.bookmarks-fetaures {
  position: absolute;
  top: 10%;
  right: 0;
  background: lighten($dark-color, 5%);
  width: 400px;
  height: 300px;
  padding: 1rem;
  font-family: $secondary-font;
  .preview-bookmarks {
    @extend %preview;
  }
  .bookmarks-img {
    @extend %flex;
    gap: 1.3rem;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.side-navbar {
  @extend %flex;
  justify-content: space-between;
  .side-nav {
    position: absolute;
    background: rgba(0, 0, 0, 0.891);
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 2rem;
    // transform: translateX(1100px);
    // transition: transform 0.5s ease-in-out;
  }
  .nav-list {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    a {
      font-size: 1.3rem;
      color: $light-color;
    }
  }
  .side-bookmarks {
    font-size: 1rem;
    font-family: $secondary-font;
  }
  .sidebar-preview-bookmarks {
    @extend %preview;
    margin-top: 1rem;
  }
  .bookmarks-img {
    @extend %flex;
    gap: 1.3rem;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}
